#
# Novatek NT36xxx touchscreen driver configuration
#
config TOUCHSCREEN_NT36XXX_X00TD
	bool "ASUS_X00TD Novatek NT36XXX touchscreen driver"
	depends on MACH_ASUS_X00TD
	default n
	help
	  Say Y here if you have a Novatek NT36xxx touchscreen connected
	  to your system.

	  If unsure, say N.
