# SPDX-License-Identifier: GPL-2.0-only
#
# Novatek NT36xxx touchscreen driver configuration
#
config TOUCHSCREEN_NT36XXX_ASUS
	bool "ASUS X00TD/X01BD common Novatek NT36XXX driver"
	depends on !TOUCHSCREEN_NT36XXX_X01BD
	depends on !TOUCHSCREEN_NT36XXX_X00TD
	help
	  Say Y here if you have a Novatek NT36xxx touchscreen connected
	  to your system.

	  If unsure, say N.
